body{
    margin: 0;
}
.contant{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    box-sizing: border-box;
}
.imgbox{
   width: 100%;
}
.pic{
    width: 100%;
    height: 100%;
}
.textbox{
    font-size: 20px;
}
@media(min-width:768px){
    .contant{
        width: 30%;
    }
}
